body{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#container{
     width: 70%;
     padding: 0;
     text-align: left;
     border: 1px solid black;
     margin: 0 auto;
}

#cabecera{
   background:rgba(100, 79, 177,0.8);
    color: white;
    padding: 0.5em;
    font-weight: bold;
    margin: 0;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#cabecera img{
   width: 20px;
   vertical-align: middle;
}

#footer{
    background: rgba(100, 79, 177,0.8);
    color: white;
    padding: 5px;

}